group_manager/groups.dtd

<!ELEMENT groups (group+)>
        <!ELEMENT group (main?+,exclusive?+,all?+,everyone?)>
        <!ATTLIST group dn CDATA #REQUIRED>
        <!ELEMENT exclusive (#PCDATA)>
        <!ELEMENT all (#PCDATA)>
        <!ATTLIST all PostCode CDATA>
        <!ELEMENT main (#PCDATA)>
        <!ATTLIST main PostCode CDATA>
        <!ELEMENT everyone EMPTY>
